version: '3.8'

services:
  backend:
    image: sirajulmuneer007001/bookaholic-backend:latest
    build: .
    ports:
      - "8081:8081"
    environment:
      - DB_URL=jdbc:mysql://db:3306/library_db
      - DB_USERNAME=root
      - DB_PASSWORD=root
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: bookaholic-db
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: P@ssw0rd_Bo0k@h0l!c_2026_SecuR3
      MYSQL_DATABASE: library_db
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    name: app-network
    driver: bridge

volumes:
  db_data:
